DB_USER=postgres
DB_PASSWORD=root
DB_HOST=prooflift-notifications-db
DB_NAME=notifications_db
DB_PORT=5432
DB_SSLMODE=disable

MQ_USER=guest
MQ_PASSWORD=guest
MQ_HOST=prooflift-notifications-mq
MQ_PORT=5672

SERVICE_NAME=prooflift-notifications-be
QUEUE_NAME=notifications_queue

HTTP_PORT=8080
HTTP_HOST=0.0.0.0

JWT_SECRET=your_secret_key_here
